*{
    text-decoration: none;
    margin: 0;
}
a:visited{
    color: white;
}

a{
    color: white;
}

#bandeau {
    display:flex;
    justify-content: space-around;
    height: 5%;
    background-color: #0a4ba1;
    padding-top: 1%;
}

#menu.bandeau {
    display:flex;
    justify-content: space-between;
    color: white;
    font-family: 'Segoe UI Regular', sans-serif;
}

#Titre.menu {
    font-weight:bold;
    margin-left:-25%;
    color: white;
    font-family: 'Segoe UI Bold', sans-serif;
    font-size: 130%;
}

.menu, #decon.bandeau {
    font-size:120%;
    color:white;
    font-family: 'Segoe UI',sans-serif;
}

#titrech {
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-left: 15%;
    font-size: 175%;
    color: #0a4ba1;
    font-weight: bolder;
    text-decoration: underline;
    font-family: 'Segoe UI Bold', sans-serif;
}