*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.un, .deux, .trois {
    display:flex;
    flex-direction: column;
    border: 3px solid white;
    width: 180px;
    height:90px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px dimgrey;
    padding: 0.5%;
}

.chambretat{
    font-family: 'Segoe UI Bold', sans-serif;
    margin-top:14%;
    font-size: 110%;
}

.un>.chambretat {
    color: #E30000;
}

.deux>.chambretat {
    color: #36B700;
}

.trois>.chambretat {
    color: #EEBE00;
}

#chambrenom {
    font-family: 'Segoe UI Bold', sans-serif;
    color: #0a4ba1;
    font-weight:bold;
    font-size:115%;
}
#chambretage {
    font-family: 'Segoe UI Regular', sans-serif;
    color: #0a4ba1;
}

#liste-chambres{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px 0px;
    width: 70%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.status {
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    z-index: 1;
    background-color: whitesmoke;
}

.admin-chambre {
    border-radius: 7px;
    width: 35px;
    position: relative;
    bottom: 23px;
    right: -145px;
    font-size: 21px;
    background-color: #0a4ba1;
    border: none;
    color: white;
    line-height: 20px;
    height: 25px;
    padding: 2 2 2 2;
    cursor: pointer;
}

button[type=submit]{
    margin-left: 15%;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Segoe UI;
    color: white;
    background: #36B700;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}