*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

#liste-chambres{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 30%;
    top: 0%;
    background-color: lightblue;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.container-chambre{
    border: solid 1px black;
    position: relative;
    width: 90%;
    left: 5%;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 100%;
}

.numeroChambre{
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 60px;
    margin-bottom: 10px;
}

.numeroNumerChambre{
    position: relative;
    font-weight: normal;
    font-size: 13px;
}

.content-chambreManage{
    margin-left: 29px;
    border-left: 2px solid black;
    padding-left: 29px;
    padding-top: 0px;
    height: 100%;
}

.messageStatus{
    position: absolute;
    top: 27px;
}

.manageChambre{
    position: absolute;
    bottom: 5px;
    height: 20px;
    width: 53%;
    right: 10px;
    
}

.manageChambre>form>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

.manageChambre>form>ul>li>select{
    width: 200px;
    position: absolute;
    height: 100%;
    padding: 0;
}





